.DisplayRowItem {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

.DisplayRowItem:has(.changeTokenButton) {
    justify-content: space-evenly;
}

.DisplayRowItem:not(:has(input)) *:not(.changeTokenButton) {
    min-width: fit-content;
    width: 20%;
    text-align: center;
}

.DisplayRowItem input {
    min-width: min-content;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    padding-inline: 5%;
}

.DisplayRowItem input:focus {
    outline: none;
    box-shadow: inset 0px 0px 5px var(--primary-color);
}

.DisplayRowItem:has(.adjustMenuButton) {
    position: relative;
}

.DisplayRowItem button {
    user-select: none;
    aspect-ratio: 1;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.DisplayRowItem .adjustMenuButton {
    position: absolute;
    left: 0;
}

.DisplayRowItem .changeTokenButton {
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 50%;
    outline: 3px solid black;
}

/* .DisplayRowItem button:focus {
    outline: 5px solid var(--secondary-color);
} */

.DisplayRowItem button img {
    aspect-ratio: 1;
    height: 90%;
}

.DisplayTable:not(.smallScreen)>*:nth-child(4n+1) {
    border-left: none;
}

.DisplayTable.smallScreen>*:nth-child(2n+1) {
    border-left: none;
}