@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  --background-color: #e0e0e0;
  --primary-color: #009900;
  /* --accent-color: #42a142; */
  --accent-color: hsl(125 45% 20% / 1);
  /* --dark-background-color: hsl(125 40% 5% / 1); */
  --dark-background-color: #010b00;
  --tint-background-color: #c4e6ca;
  /* --dark-background-color: white; */
  /* --secondary-color: #59ea00; */
  --secondary-color: hsl(125 65% 25% / 1);
  --text-color: #333333;
  /* font-size: 13px; */
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.4)
}


*,
*::before,
*::after {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box
}